:root {
  --dark-primary: #1976d2;
  --light-primary: #bbdefb;
  --primary: #2196f3;
  --text-icons: #fff;
  --accent: #607d8b;
  --primary-text: #212121;
  --secondary-text: #757575;
  --div-color: #bdbdbd;
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--light-primary);
}

.contenedor-general {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary);
}

.contenedor-calculadora{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

#resultado {
  width: 100%;
  margin: 5px;
  padding: 10px;
  text-align: end;
  font-size: 2rem;
  border: none;
  outline: none;
  color: #212121;
}

.contenedor-botones{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenedor-botones button{
  width: 70px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
  background-color: var(--dark-primary);
  font-size: 2rem;
  color: var(--text-icons);
  border: none;
  outline: none;
  font-weight: bold;
}

.roundBorder {
  border-radius: 8px;
}




.contenedor-historial{
  width: 40%;
  padding: 0 15px 15px;
  background-color: var(--light-primary);
  font-size: 20px;
  color: var(--primary-text);
  font-weight: bold;
}